@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none !important;
  /* text-transform: capitalize; */
}

body {
  min-height: 100vh;
  line-height: 1;
  background: #fff;
}

.btn-primary-ppid {
  font-size: 16px;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  display: block;
  font-weight: 300;
  background: #006b89;
  width: 100%;
}

.btn-primary-ppid:hover {
  color: #fff;
}

.btn-outline-primary-ppid {
  border: 1px solid #104e70;
  padding: 10px 30px 10px 30px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 22px;
  color: #104e70;
}

.btn-outline-primary-ppid:hover {
  background-color: #104e70;
  color: #fff;
}

.btn-back {
  border: 1px solid #104e70;
  color: #104e70;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.btn-back-info {
  margin-left: 10px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  color: #363636;
}

.btn-back:hover {
  background-color: #104e70;
  color: #fff;
}

.content-dashboard {
  padding: 50px 100px 20px 100px;
}
.content-dashboard .title h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.content-dashboard .title .line {
  width: 100%;
  border: 2px solid #006b89;
  margin-top: 20px;
  margin-bottom: 50px;
}

.title-sub .title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #000000;
}

.title-sub .sub-title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.75);
}

.title-sub button {
  width: 208px;
  height: 47px;
  left: 1026px;
  top: 282px;

  background: #104e70;
  border-radius: 4px;
  color: #fff;
}

.title-sub button:hover {
  color: #fff;
}

.table .thead-light th {
  padding: 20px 5px 20px 10px;
  border: none !important;
}

tbody tr td {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.75) !important;
}

tbody tr td .confirm .circle-blue {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #057cf3;
}

tbody tr td .confirm .circle-yellow {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ffd029;
}

.modal .modal-body .data-title .name {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.modal .modal-body .data-title .number {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;

  color: rgba(0, 0, 0, 0.8);
}

.modal .modal-body .data-title .jenis {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;

  color: rgba(0, 0, 0, 0.8);
}

.modal .modal-body .data-title .type {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}


.custom-select {
  height: 48px;
  background: rgba(0, 0, 0, 0.05);
}

input {
  height: 48px;
  background: rgba(0, 0, 0, 0.05);
}

textarea.form-control {
  background: rgba(0, 0, 0, 0.05);
}
p {
  text-transform: capitalize;
}
span {
  text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6{
  text-transform: capitalize;
}
.zoomed{
        zoom: 0.9;
        /*transform: scale(0.9);*/
        /*-moz-transform: scale(0.9);*/
        /*-moz-transform-origin: 0 0;*/
      }