@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  text-decoration: none !important;
<<<<<<< HEAD
  /* text-transform: capitalize; */
=======
  text-transform: capitalize;
>>>>>>> origin/main
}

body {
  min-height: 100vh;
  line-height: 1;
  background: #fff;
}

.btn-primary-ppid {
  font-size: 16px;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  display: block;
  font-weight: 300;
  background: #006b89;
  width: 100%;
}

.btn-primary-ppid:hover {
  color: #fff;
}

.btn-outline-primary-ppid {
  border: 1px solid #104e70;
  padding: 10px 30px 10px 30px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 22px;
  color: #104e70;
}

.btn-outline-primary-ppid:hover {
  background-color: #104e70;
  color: #fff;
}

.btn-back {
  border: 1px solid #104e70;
  color: #104e70;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.btn-back-info {
  margin-left: 10px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  color: #363636;
}

.btn-back:hover {
  background-color: #104e70;
  color: #fff;
}

.content-login {
  width: 100%;
  height: auto;
  padding: 120px 0px 120px 0px;
  background-image: url("../../../images/content/background/bg_bumn.png"),
    url("../../../images/content/background/bg_login.png");
  background-size: 500px 300px, 600px;
  background-repeat: no-repeat;
  background-position: bottom right, top left;
}

.content-login .information .circle-one {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid #1797a4;
}

.content-login .information .circle-two {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid #104e70;
  margin-left: -20px;
}

.content-login .information .detail {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
  color: #000000;
}

.content-login .form-login .label-login span {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 100px;
  color: #000000;
}
.input-password {
  border-right: 0px;
}
.input-group-addon {
  width: 50px;
  border: 1px solid #ced4da;
  border-left: 0;
  height: 48px;
  padding: 12px;
  background: rgba(0, 0, 0, 0.05);
}

.input-group-addon a {
  color: rgba(0, 0, 0, 0.75);
  font-size: 20px;
}

.form-login .form-data .form-group input {
  height: 48px;
  background: rgba(0, 0, 0, 0.05);
}

.form-group .upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper .btn {
  border: 2px solid #000000;
  color: #fff;
  background: #000000;
  border-radius: 4px;
  padding: 12px 30px;
  font-size: 14px;
}

.img-register {
  z-index: 999999;
  width: 50% !important;
  margin-bottom: -100px;
}

.file-format {
  font-family: "Lato";
  font-style: italic;
  font-weight: 500;
  font-size: 12px;

  color: #818181;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.custom-select {
  height: 48px;
  background: rgba(0, 0, 0, 0.05);
}

.lupa-password {
  width: 100%;
  height: auto;
}

.lupa-password a {
  font-size: 16px;
  color: #006b89;
}

.not-register {
  width: 100%;
}
.not-register span {
  font-size: 16px;
  font-family: "Lato";
}
.not-register a {
  font-size: 16px;
  color: #006b89;
  font-family: "Lato";
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .banner .data_banner {
    padding: 50px 50px 50px 50px;
    height: auto;
  }

  .banner .data_banner .informasi {
    margin: auto;
    width: 100%;
  }

  .filter-data {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .filter-data .filter-input {
    width: 67%;
  }
  .filter-data .btn-filter {
    width: 30%;
  }

  .content ul .nav-item .nav-link {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .nav {
    display: block;
  }
  .content {
    margin-top: 0;
  }

  .content .row{
    padding-left: 0 !important;
    padding-right: 0 !important;

  }
  .content .card {
    margin-bottom: 20px;
  }

  .content-maklumat .title-label label{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .informasi{
    margin: 0 !important;
    text-align: justify !important;
  }
  .content-biaya .images img{
    margin-left: 50px;
  }
  .content-login .form-login{
    margin-top: 20px;
  }

  .content-login .form-login .label-login{
    margin-bottom: 20px;
  }
  .content-login .form-login .label-login span{
    font-size: 20px !important;
    line-height: 20px;
  }

  .information img{
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
