@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  text-decoration: none !important;
  /* text-transform: capitalize; */
}

.pagination .page-item.active .page-link {
  background-color: #104e70;
  color: #fff !important;
  border: 1px solid #104e70;
}

.pagination li .page-link {
  color: #000000 !important;
}

.btn-outline-primary-ppid {
  border: 1px solid #104e70;
  padding: 10px 30px 10px 30px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 22px;
  color: #104e70;
}

.btn-outline-primary-ppid:hover {
  background-color: #104e70;
  color: #fff;
}

.btn-back {
  border: 1px solid #104e70;
  color: #104e70;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.btn-back-info {
  margin-left: 10px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  color: #363636;
}

.btn-back:hover {
  background-color: #104e70;
  color: #fff;
}

body {
  min-height: 100vh;
  line-height: 1;
  background: #fff;
}

.banner .data_banner {
  padding-bottom: 80px;
  margin-top: 80px;
  background-image: url("../../../../images/content/background/bg_tentang_ppid.png");
  background-repeat: no-repeat; /*Prevent showing multiple background images*/
  background-size: 100% 300px;
  height: 300px;
  padding: 100px 100px 100px 100px;
}

.banner .data_banner .informasi {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.data_banner .informasi p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #363636;
  text-align: center;
}

.data_banner .informasi label {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #363636;
}

.content-biaya .title-label {
  background: rgba(5, 205, 225, 0.13);
  border: 1px solid #05cde1;
  border-radius: 4px;
  margin-top: 80px;
  margin-bottom: 40px;
  padding: 14px 0px 12px 0px;
}

.content-biaya .title-label label {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 54px;

  color: #0093a3;
}

.content-biaya .informasi p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;

  color: #000000;
}


.content-biaya .images {
  max-width: 720px;
  max-height: 405px;
 

}

.content-biaya .images img {
  max-width: 200px;
  max-height: 200px;
  height: auto;
  display: block;
  margin-left: auto;
  width: 100%;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .banner .data_banner {
    padding: 50px 50px 50px 50px;
    height: auto;
  }

  .banner .data_banner .informasi {
    margin: auto;
    width: 100%;
  }

  .filter-data {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .filter-data .filter-input {
    width: 67%;
  }
  .filter-data .btn-filter {
    width: 30%;
  }

  .content ul .nav-item .nav-link {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .nav {
    display: block;
  }
  .content {
    margin-top: 0;
  }
  .content .card {
    margin-bottom: 20px;
  }

  .content-maklumat .title-label label{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .informasi{
    margin: 0 !important;
    text-align: justify !important;
  }
  .content-biaya .images img{
    margin-left: 50px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
